// 根据传入的颜色得出下划线公共样式
border-1px($color)
  position relative
  &:after
    display block
    position absolute
    left 0
    bottom 0
    width 100%
    border-top: 1px solid $color
    content ' '
// 最后一个元素取消下划线
border-none()
  &:after
    display none
// 更具传入的url和设备尺寸读取图片
bg-image($url)
  background-image url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ration:3),(min-device-pixel-ration:3)
        background-image url($url + "@3x.png")